# ASP.NET Core
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://0.0.0.0:${PORT}

# Database
ConnectionStrings__DefaultConnection=DataSource=app.db;Cache=Shared

# Redis
Redis__ConnectionString=redis://localhost:6379

# RabbitMQ / CloudAMQP
RabbitMq__ConnectionString=amqps://user:pass@host/vhost
RabbitMq__QueueName=solicitudes.notificaciones
RabbitMq__ConsumerEnabled=true
